.main-container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 15px;
}

/*  Header Part */
.header{
    display: flex;
    width: 100%;
    height: 80px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 35px;
}
.header-left,.header-right{
    width: 50%;
    /* border: 1px solid black; */
}
.header-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    font-size: 30px;
}
.header-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 30px;
    text-decoration: none;
}
.projects,.talent{
    width: 120px;
    /* height: 50px; */
    padding: 15px 0;
    background-color: black;
    border-radius: 35px;
    color: white;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.projects{
    background-color: white;
    border: 1px solid rgb(218, 218, 218);
    color: black;
}
.projects:hover{
    background-color: rgb(227, 227, 227);
}
.talent:hover{
    background-color: rgb(74, 73, 73);
}
/* Campaign Part */


.campaign{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(170, 178, 154); */
    padding: 40px 20px;
    align-items: center;
}
.campaign span{
    font-size: 35px;
    font-weight: 500;
}
.body{
    display: flex;
    flex-direction: row;
    height: 550px;
    /* background-color: rgb(170, 178, 154); */
}
.catalog{
    display: flex;
    justify-content: center;
    /* background-color: burlywood; */
    width: 50%;

}
.img-container{
    width: 60%;
    height: 400px;
    background-image: url("../../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
}
.box1-container{
    /* position: absolute; */
    display: flex;
    justify-content: flex-start;
}
.box1{
    padding: 15px;
    width: 180px;
    background-color: #f5f9fd;
    text-align: left;
    border-radius: 15px;
    position: relative;
    right: 20%;
    top: 30%;
    font-size: 12px;
}
.box1-container,.box2-container{
    /* border: 1px solid black; */
}
.box2-container{
    display: flex;
    /* position: absolute; */
}
.box2,.box3{
    display: flex;
    padding: 10px;
    width: 200px;
    background-color: #f5f9fd;
    border-radius: 15px;
    position: relative;
    top: 160%;
    right: 10%;
}
.box2{
    height: fit-content;
}
.box3{
    width: 180px;
    flex-direction: column;
    top: 180%;
    left: 15%;
    text-align: left;
    font-size: 12px;
    background-color: rgb(3, 70, 3);
    color: white;
}
.box2-content{
    text-align: start;
}



/* Carousel Part */

.carousel-container{
    width: 50%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    height: 600px;
    /* justify-content: center; */
    align-items: flex-start;
    gap: 65px;
    /* padding-left: 200px; */
}
.carousel-content{
    display:flex;
    width:100%;
    height:50%;
    justify-content:center;
}
.explore{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.explore-btn{
    width: 120px;
    padding: 15px 0;
    background-color: black;
    border-radius: 35px;
    color: white;
    font-size: 12px;
    position: relative;
    left: 15%;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.explore-btn:hover{
    background-color: rgb(74, 73, 73);
}

/* Faq part*/

.faq{
    width: 100%;
    height: 500px;
    display: flex;
    border-radius: 25px;
    background-color: rgba(192, 203, 173,0.562);

}
.faq-title{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 50px 0 50px 50px;
}
.qsn-container{
    width: 50%;
    overflow-y: scroll;
    padding-top: 50px;
    /* background-color: rgb(170, 178, 154); */
}
::-webkit-scrollbar {
    width: 5px;
}
/* .accordion-item{
    background-color: #aab29a;
} */

/* Footer part*/
.footer{
    width: 100%;
    height: 150px;
    background-color: rgb(235, 234, 234);
    display: flex;
    border-radius: 25px;
}
.terms,.list-container{
    width: 50%;
    align-items: center;
}
.terms{
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
}
.list-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    list-style: none;
    gap: 25px;
    text-decoration: underline;
    
}

@media only screen and (max-width: 1058px) {
    .box2{
        top: 135%;
    }
    .box3{
        top: 155%;
    }
}
@media only screen and (max-width: 923px) {
    .box2,.box3{
        width: 220px;
    }

}
@media only screen and (max-width: 820px) {
    .body{
        flex-direction: column;
        height: 900px;
        align-items: center;
        gap: 100px;
    }
    .img-container{
        width: 100%;
    }
    .carousel-container{
        width: 80%;
    }
    .carousel-content{
        height: 60%;
    }
    .qsn-container{
        width: 60%;
    }
    .faq-title{
        width: 40%;
    }
}
@media only screen and (max-width: 570px) {
   .header-right{
       width: 60%;
   }
   .img-container{
        width: 110%;
    }
    .carousel-container{
        width: 90%;
    }
    .faq{
        flex-direction: column;
        /* padding-bottom: 20px; */
    }
    .faq-title,.qsn-container{
        width: 100%;
    }
    .faq-title{
        padding-bottom: 10px;
        padding-left: 80px;
    }
    .qsn-container{
        padding-top: 0;
    }
    .accordions{
        padding: 0px 20px 10px 20px;
    }
    .terms{
        padding-left: 20px;
    }
    .list-container{
        padding-right: 20px;
    }
}
@media only screen and (max-width: 470px) {
   .header-right{
       width: 70%;
   }
   .header-left{
       font-size: 20px;
   }
   .projects,.talent{
       width: 100px;
   }
   .img-container{
        width: 125%;
   }
   .box2,.box3{
        width: 240px;
   }
   
}
@media only screen and (max-width: 398px) {
    .box2{
        top: 110%;
    }
    .box3{
        width: 260px;
        height: 130px;
        overflow: hidden;
        top: 115%;
    }
    .terms,.list-container{
        font-size: 15px;
    }
}
@media only screen and (max-width: 383px) {
    .box2,.box3{
        width: 280px;
    }
    .header-right{
        width: 80%;
    }
}