.accordions {
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 4px;
    padding: 20px 50px;
  }
  
  .accordions-item {
    border-bottom: 1px solid rgb(154, 154, 154);
    padding: 10px 20px;
  }
  
  .accordions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordions-item.active {
    transition: max-height 2s ease-out;
  }
  
  .accordions-body {
      font-size: 12px;
    padding: 10px;
    transition: max-height 2s ease-out;
  }
  
  .accordions-icon {
      font-size: 20px;
    margin-left: 10px;
  }
  .accordion-item.active .accordion-body {
    max-height: 200px;
  }
  